{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 120,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    "^express(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(@types|apis|constants|docs|middlewares|routes|utils|views)$",
    "^\\.\\.(?:/|$)",
    "^\\.(?:/|$)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
